<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="uJC5QIwn1mTY9PEwnuxpQd0ESZFD1I7kAFKSbKpN4MQ" />
    <meta name="description" content="Submit your song or band request and get featured in our playlist! We have thousands of followers, so get your style heard.">
    <meta name="keywords" content="Rap, Rock, Playlist, Submit, Band, Song, Request, Spotify, Followers, Gain More Followers, NuMetal, Metal, RapRock"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rap Rock NuMetal Playlist</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version=1.0.2" />
    <link rel="stylesheet" href="~/css/footer.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!-- AOS -->
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet">
    <script src="~/lib/aos/dist/aos.js"></script>

    <!-- OPG -->
    <meta property="og:title" content="Raprock Playlist" />
    <meta property="og:image" content="https://raprockplaylist.tk/safari-pinned-tab.svg"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://raprockplaylist.tk" />
    <meta property="og:site_name" content="RaprockPlaylist" />
    <meta property="og:description" content="Want your band or your favorite song featured in our playlist? Submit your request, we'll review it and add it to our playlist! We have thousands of followers, so get your style heard." />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154892407-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154892407-1');
    </script>
    @RenderSection("ScriptsHeader", required: false)
</head>
<body>
    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="ml-5 mr-5 mt-2">
                <div class="row" style="justify-content: center;">
                
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">Rock/Rap-Rock/Nu-Metal Playlist<span></span></h5>
                            <p class="text-justify">Our Playlist consists of bands like Hollywood Undead, Three Days Grace, My Chemical Romance, Linkin Park, Skillet, Papa Roach and more! All your favorite music in one place! </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>

                            <p><a href="mailto:info@raprockplaylist.tk" title="glorythemes">info@raprockplaylist.tk</a></p>
                                <ul class="social-footer2">
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright RaprockPlaylist.tk &copy; 2020 - All rights reserved - <a href="/Home/Privacy">Privacy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/form.js"></script>
    <script data-ad-client="ca-pub-3431672697373164" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
