<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="uJC5QIwn1mTY9PEwnuxpQd0ESZFD1I7kAFKSbKpN4MQ" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="Get your song featured & your style heard - RapRockPlaylist">
    <meta name="description" content="Submit a song you'd love to get heard, we'll listen to it and contact you with results. So what are you waiting for, get your style heard today!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://raprockplaylist.tk/">
    <meta property="og:title" content="Get your song featured & your style heard - RapRockPlaylist">
    <meta property="og:description" content="Submit a song you'd love to get heard, we'll listen to it and contact you with results. So what are you waiting for, get your style heard today!">
    <meta property="og:image" content="https://raprockplaylist.tk/Images/og-bg.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://raprockplaylist.tk/">
    <meta property="twitter:title" content="Get your song featured & your style heard - RapRockPlaylist">
    <meta property="twitter:description" content="Submit a song you'd love to get heard, we'll listen to it and contact you with results. So what are you waiting for, get your style heard today!">
    <meta property="twitter:image" content="https://raprockplaylist.tk/Images/og-bg.png">
    
    <meta name="keywords" content="Rap, Rock, Playlist, Submit, Band, Song, Request, Spotify, Followers, Gain More Followers, NuMetal, Metal, RapRock"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RapRockPlaylist</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/vendor.min.css?v=1.0.1" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    
    <!-- AOS -->
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet">

    @RenderSection("ScriptsHeader", required: false)
</head>
<body>
    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="ml-5 mr-5 mt-2">
                <div class="row" style="justify-content: center;">
                
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">Rock/Rap-Rock/Nu-Metal Playlist<span></span></h5>
                            <p class="text-justify">Our Playlist consists of bands like Hollywood Undead, Three Days Grace, My Chemical Romance, Linkin Park, Skillet, Papa Roach and more! All your favorite music in one place! </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>
                            <ul class="social-footer2">
                                <li><a class="fa fa-envelope-o" href="mailto:info@raprockplaylist.tk" target="_blank"> info@raprockplaylist.tk</a></li><br>
                                <li><a class="fa fa-instagram" href="http://www.instagram.com/raprockplaylist" target="_blank"> Instagram</a></li><br>
                                <li><a class="fa fa-twitter" href="https://twitter.com/RaprockP" target="_blank"> Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright RaprockPlaylist.tk &copy; 2020 - All rights reserved - <a href="/Home/Privacy">Privacy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/aos/dist/aos.js"></script>
    <script src="~/js/vendor.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVZLDT2');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154892407-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154892407-1');
    </script>
    <script data-ad-client="ca-pub-3431672697373164" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
