@model RaprockPlaylist.Models.Error
@{
    ViewData["Title"] = "Error";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/error.css">
</head>
<body>
<div id="notfound">
<div class="notfound">
<div class="notfound-404">
<h1>Oopsie!</h1>
@{   
    var data = ViewBag.Message;  
} 
<h2>@data.errorNumber - What happened?</h2>
</div>
<a href="/">Go back to homepage!</a>
</div>
</div>
</body></html>