.btn-back {
    float: right;
    display: inline;
    color:black;
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    text-align: center;
    padding: 2px 5px;
    margin: 2px 5px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
  
.btn-back:hover {
    color:white;
    background-color: black;
    padding: 4px 10px;
    margin: 0px 0px;
}
.btn-back > svg {
    fill: black;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-back:hover > svg{
    fill: white;
}
.privacy {
    text-align: justify;
    padding: 50px 75px 100px 75px;
}
.arrow {
    margin: 0 10px 0 10px;
}
.header {
    display: inline-block;
}
.back-text {
    left: 2px;
    vertical-align: middle;
}