/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.captcha {
  display: inline-block;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

@keyframes invertColors {
  from{background-color: white; color: black;}
  to{background-color: black; color: white;}
}

.btn-main {
  color:black;
  background-color: white;
  border-color: black;
  border-width: 3px;
  border-radius: 12px;
  padding: 10px 40px;
  margin: 2px 5px;
  display: inline-block;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-main:hover {
  color:white;
  background-color: black;
  padding: 12px 45px;
  margin: 0px 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .display-4 {
    margin-top: -24%;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
@media only screen and (max-width: 768px) {
  .wrapper-main {
    height: 100vh;
  }
  .display-4 {
    padding-top: 50%;
  }
}
.wrapper-main {
  /* Margin bottom by footer height */
  background-image: url("../Images/backgroundGray.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
  box-shadow: black 0px -50px 100px;
}
input, label {
  display:block;
}
label {
  text-align: left;
  color: black;
}
.song-request {
  height: 50px;
}
.text-center {
  width: 100%;
}
.thank-you {
  padding-top: 27.5vh;
  color: white;
  font-size: 100px;
}
#songRequest {
  overflow: hidden;
  display: block;
}
.formRight {
  float: left;
}
textarea {
  height: 150px;
  resize: none;
}
.formArea {
  padding-top: 10px;
  margin: 10px;
}
.form-input-request {
  padding-bottom: 100px;
  padding-top: 100px;;
}
.btn-main:disabled {
  color: gray;
  border-color: gray;
  background-color: darkgray;
}
#inputWarning {
  color: rgba(255, 100, 100, 1);
  font-size: smaller;
  margin-bottom: -1px;
}
.list-group {
  text-align: left;
}
label {
  padding-top: 4.5px;
  padding-left: 10px;
  margin-bottom: 7px!important;
}